.profile {
  display: grid;
  grid-template-columns: 120px minmax(max-content, 1fr) 1fr 150px;
  align-items: center;
}

/* @media screen and (max-width: 750px) {
  .profile {
    display: flex;
    flex-direction: column;
  }
} */

@media screen and (max-width: 750px) {
  .profile {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
